/*---------inicio:tamaño de caja desde el borde-------------*/
html {
  box-sizing: border-box;
  font-size: 16px;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}
/*---------------------final------------------------------*/

body {
  background: #4776e6;
  background: -webkit-linear-gradient(to left, #4776e6, #8e54e9);
  background: linear-gradient(to left, #4776e6, #8e54e9);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: sans-serif;
}

.flex-container {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-item {
  display: flex;
  flex-grow: 0;
  flex-flow: column nowrap;
  align-items: center;
  margin: 0rem;
}
.card {
  border-radius: 10px;
  flex-grow: 1;
  width: 350px;
  height: 200px;
  margin-bottom: 20px;
  box-shadow: 0.9rem 0.9rem 2rem #17181d63;
  color: #fff;
}

/*------------estilos para la tarjeta*/

/*---- cara de la tarjeta-----*/
.face {
  margin-bottom: 5px;

  background-color: #b29f94;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='100%25' gradientTransform='rotate(344,960,468)'%3E%3Cstop offset='0' stop-color='%23B29F94'/%3E%3Cstop offset='1' stop-color='%23603813'/%3E%3C/linearGradient%3E%3Cpattern patternUnits='userSpaceOnUse' id='b' width='300' height='250' x='0' y='0' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='0.05'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect x='0' y='0' fill='url(%23b)' width='100%25' height='100%25'/%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
}

.nombre_banco {
  margin-right: 20px;
  text-align: right;
  font-size: 25px;
  font-weight: bold;
}
#nombre_banco {
  padding-top: 10px;
  margin-top: 0;
  margin-bottom: 0;
  text-shadow: rgba(253, 252, 252, 0.5) 0.1em 0.1em 0.2em;
}
.chip {
  background-image: url(chip.svg);
  background-repeat: no-repeat;
  background-position: content;

  margin-left: 30px;
  width: 80px;
  height: 50px;
}
.wifi {
  background-image: url(wifi.ico);
  background-repeat: no-repeat;
  background-position: content;

  width: 33px;
  height: 33px;

  transform: rotate(90deg);
  float: left;
}
.importante {
  padding-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: flex-end;
}

#nombre_cliente {
  font-size: 25px;
  margin-top: 0;
  padding-top: 10px;
  text-shadow: black 0.1em 0.1em 0.2em;
  text-shadow: -1px -1px white, 1px 1px #333;
  padding-right: 40px;
  padding-bottom: 40px;
}
#titulo_fecha {
  font-size: 10px;
  text-align: center;
  width: 40px;
  text-shadow: black 0.1em 0.1em 0.2em;
}
#fecha {
  font-size: 25px;
  margin-bottom: 0;
  margin-top: 10px;
  text-shadow: black 0.1em 0.1em 0.2em;
  padding-right: 10px;
}

.numero_tarjeta {
  font-size: 30px;
  text-align: center;
  font-weight: bold;
  letter-spacing: 2.5px;
  text-shadow: black 0.1em 0.1em 0.2em;
}

.back {
  margin-top: 30px;
  background: linear-gradient(to right, #b29f94, #603813);
  background-color: #b29f94;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='100%25' gradientTransform='rotate(344,960,468)'%3E%3Cstop offset='0' stop-color='%23B29F94'/%3E%3Cstop offset='1' stop-color='%23603813'/%3E%3C/linearGradient%3E%3Cpattern patternUnits='userSpaceOnUse' id='b' width='300' height='250' x='0' y='0' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='0.05'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect x='0' y='0' fill='url(%23b)' width='100%25' height='100%25'/%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
}
.barra-magnetica {
  height: 36px;
  width: 350;
  background-color: #000;
  color: #000;
}
.ccv {
  margin-top: 10px;
  margin-left: 30px;
  width: 170px;
  height: 31px;
  background-color: #fff;
  text-align: right;

  color: #000;
}
.texto {
  font-size: 0.6em;
  text-align: justify;
  width: 341px;
  height: 66px;
  color: #000;
  padding: 8px;
}

/*--------------fin tarjeta--------------------------*/

/* formato para el formulario de validadión*/
.titulo-form {
  text-align: center;
  color: #8e54e9;
  margin: 10px 0;
  font-weight: 800;
  text-shadow: rgba(0, 0, 0, 0.281) 0.1em 0.1em 0.2em;

  font-size: 35px;
}
.formulario {
  margin-left: auto;
  margin-right: auto;
  padding: 2rem;
  width: 100%;

  background-color: #fff;
  font-size: 1.3rem;
  border: 2px solid #fff;
  border-radius: 2.5rem 0 2.5rem 0;
  box-shadow: 0.9rem 0.9rem 2rem #17181d96;
}

.formulario .junto {
  position: relative;
  margin: 35px;
}
input {
  background: none;
  color: #a5a1a1;
  font-size: 1.3rem;
  padding: 0.6rem 0.6rem 0.5rem 0.1rem;
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid#a5a1a1;
  resize: none;
}
input:focus {
  outline: none;
  color: rgb(94, 93, 93);
}

input:focus ~ label,
input:valid ~ label {
  position: absolute;
  top: -14px;
  font-size: 12px;
  color: #8e54e9;
  font-weight: 800;
}
label {
  color: #a5a1a1;
  font-size: 16px;
  position: absolute;
  left: 5px;
  top: 10px;
  transition: 0.5s ease all;
  pointer-events: none;
}
.base {
  position: relative;
  display: block;
  width: 100%;
}
input:focus ~ .base::before {
  width: 100%;
}
.base::before {
  content: "";
  height: 2px;
  width: 0;
  bottom: 0;
  position: absolute;
  background: linear-gradient(to left, #4776e6, #8e54e9);
  transition: 0.3 ease all;
  left: 0%;
}

.formulario button {
  /*fondo*/
  background: linear-gradient(to left, #4776e6, #8e54e9);

  /*--------------------------*/
  display: block;
  width: 200px;
  height: 40px;
  border: none;
  color: #fff;
  border-radius: 4px;
  font-size: 1.4rem;
  margin: 5px auto;
  box-shadow: 0.9rem 0.9rem 2rem #17181d63;
}
.formulario button:hover {
  cursor: pointer;
  background: linear-gradient(to left, #4777e681, #8d54e980);
  color: #8e54e9;
  font-weight: bold;

  box-shadow: none;
}
/*----------------------------------*/
/*------------ventana pequeña para mostrar mi resultado----*/

.ventana {
  width: 500px;
  height: 650px;
  background: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  transition: 1s;
  transform: translateY(0%);
  border-radius: 0.5rem;

  /* overflow: hidden;*/
}

.cerrar {
  position: absolute;
  top: 5px;
  right: 5px;
  display: inline-block;
  width: 40px;
  height: 40px;
  background: #8e54e9;
  color: #fff;
  line-height: 35px;
  cursor: pointer;
  border-radius: 50%;
  margin: 1rem;

  font-size: 25px;
  font-weight: bold;
}

.ventana-contenedor {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgb(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
.ventana-cerrar {
  transform: translateY(-200%);
}
.alerta {
  background-color: #ffc107;
  color: #fff;
  border-bottom: 1px solid #a5a1a1;
  border-left: 1px solid #a5a1a1;
  border-right: 1px solid #a5a1a1;
  text-align: left;
  font-size: 0.8rem;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 100px;
  padding-bottom: 0.3rem;
  padding-left: 0.65rem;
  border-radius: 0rem;
  z-index: 2;
  box-shadow: 0.9rem 0.9rem 2rem #17181d63;
}

.tarjetas {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  margin-top: 0;
  margin-bottom: 0;
  justify-content: space-between;
}
.tarjetas > * {
  margin-top: 5px;
  margin-bottom: 5px;
}
.titulo-ventana {
  text-align: center;
  color: #8e54e9;
  margin: 10px 0;
  font-weight: 800;
  margin-top: 0;
  text-shadow: rgba(0, 0, 0, 0.281) 0.1em 0.1em 0.2em;

  font-size: 35px;
}
.resultado {
  padding: 13px 15px;
  border-radius: 5px;

  background: #4caf50;
  background: #f44336;

  color: #fff;
  text-align: left;
  font-weight: bold;

  font-size: 20px;
}
a {
  padding-top: 10px;
  text-decoration: none;
  color: #fff;
}
